body {
    background-color: #FFFFFF;
}

#mainContentWrapper {
  display: grid;
  grid-template-columns: auto auto;
}

#graphsRow1 {
    display: grid;
    grid-template-columns: auto auto;
}

#graphsRow2 {
    display: grid;
    grid-template-columns: auto auto auto;
}

#bigGraph {
    position: relative; 
    width:70vh; 
    height:40vh;
}

#smallGraph {
    position: relative; 
    width:47vh; 
    height:40vh;
}

#menu {
    display:block;
}

#hamburgerMenu {
    display: none;
}

#unselectedMenuItem {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-right: 20px;
    cursor: pointer;
}

#informationMenuItem {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-right: 20px;

    color: #d3d0d0;
}


#selectedMenuItem {
    background: rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    padding: 10px;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    
    color: #827F7F;
    text-align:center;
    font-family: 'Open Sans';
    font-weight: 400;
}

#unselectedMenuItem:hover {
    color: #d3d0d0;
}

#header {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: #000000;
}

#normalText {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #827F7F;
}

#feedbackText {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #A6CEE3;
}

#subheader {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
}

#inputBoxText {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #827F7F;

    background: #FFFFFF;
    border: 0.5px solid #D0D0D0;
    border-radius: 4px;
    height: 20px;
}

#passwordInputBox {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #827F7F;

    background: #FFFFFF;
    border: 0.5px solid #D0D0D0;
    border-radius: 4px;
    height: 20px;
}

#passwordConfirmationInputBox {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #827F7F;

    background: #FFFFFF;
    border: 0.5px solid #D0D0D0;
    border-radius: 4px;
    height: 20px;
}

::placeholder {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    
    color: #D0D0D0;
}

#button {
    background: #000000;
    border-radius: 4px;
    cursor: pointer;
    border: none;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    
    color: #FFFFFF;
}

@media only screen and (max-width:700px) {
    #graphsRow1{
        grid-template-columns: auto;
    }

    #graphsRow2 {
        grid-template-columns: auto;
    }

    #bigGraph {
        width: auto;
        height: 40vh;
    }

    #smallGraph {
        width: auto;
        height: 40vh;
    }

    #menu {
        display: none;
    }

    #hamburgerMenu {
        display: block;
    }

    #mainContentWrapper {
        grid-template-columns: auto;
    }

    #image{
        width: 40vh;
        height: min-content;
    }

    #header {
        font-size: 40px;
    }

    #normalText {
        font-size: 20px;
        line-height: 23px;
    }

    #feedbackText {
        font-size: 20px;
        line-height: 23px;
    }

    #subheader {
        font-size: 24px;
    }

    #inputBoxText {
        font-size: 20px;
    }

    #passwordInputBox {
        font-size: 20px;
    }

    #passwordConfirmationInputBox {
        font-size: 20px;
    }

    ::placeholder {
        font-size: 18px;
    }

    #button {
        font-size: 18px;
        line-height: 21px;
    }
}

#menuItems {
    display: none;
    background: #F5F5F5;
    border-radius: 16px;
}



