<! DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/file.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/generatePlaceholderData.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/img/Favicon.svg">
    <title>Configure Devices</title>
</head>
<body>
    
        <div id="banner">
            <div id="menu">
                    <p id="unselectedMenuItem" onclick="window.open('/', '_self')" style="display: inline-block;">Dashboard</p>
                    <p id="unselectedMenuItem" onclick="window.open('/configure-devices', '_self')" name="restrictedItem" style="display: inline-block;">Advanced Settings</p>
                    <div id="selectedMenuItem" style="display: inline-block;">
                        Configure Devices
                    </div>   
                    <p id="unselectedMenuItem" onclick="window.open('/manage-users', '_self')" name="restrictedItem" style="display: inline-block;">Manage Users</p>
                    <p id="unselectedMenuItem" onclick="logout()" style="display:inline-block;">Log Out</p>
                    <p id="unselectedMenuItem" style="display: inline-block;">✦</p>
                    <p id="informationMenuItem" style="display: inline-block;"> {{ farmName }}</p>
                    <p id="informationMenuItem" style="display: inline-block;" name="username"></p>
                    <p id="informationMenuItem" style="display: inline-block;" name="adminIndicator">Worker</p>
            </div>


                <div id="hamburgerMenu">
                    <img id="hamburgerIcon" style="width: 20px; height: 20px;" src="static/img/Hamburger.svg"></a>
                    <div id="menuItems">
                        <div style="display:grid; padding-left: 15px;">
                            <p id="unselectedMenuItem" onclick="window.open('/', '_self')">Dashboard</p>
                            <p id="unselectedMenuItem" onclick="window.open('/configure-devices', '_self')" name="restrictedItem">Advanced Settings</p>
                            <p id="unselectedMenuItem" onclick="window.open('/manage-users', '_self')" name="restrictedItem">Manage Users</p>
                            <p id="unselectedMenuItem" onclick="logout()">Log Out</p>
                        </div>
                    </div>
                </div>
        </div>
    
<div id="mainContentWrapper">  
    <div>
        <img id="image" src="static/img/adminWorking.png">
    </div>

    <div>
        <p id="header">Configure Your Devices</p>
        <p id="normalText">View and remove your datalogging devices</p>
        <div id="table" style="border: 1px solid #827F7F; border-radius: 8px; width:fit-content;">
        </div>
    </div>
</div>
</body>
<script>
    // Get the value of a cookie by it's name
    function getCookie(cookieName) {
        singleCookie = decodeURIComponent(document.cookie).split(";");
    
        // Look at every cookie
        for (i=0;i<singleCookie.length;i++) {
            // If the cookie's name is right
            if (singleCookie[i].split("=")[0] == cookieName) {
                // Return the cookie's value
                return singleCookie[i].split("=")[1];
            }
        }    
    }

    // When the user clicks the hamburger icon, change the icon and show the hamburger menu. When the user clicks it again, do the opposite
    icon = document.getElementById("hamburgerIcon");
    icon.addEventListener("click", () => {
        if (icon.getAttribute("src") == "static/Hamburger.svg") {
	        icon.setAttribute("src", "static/close.svg");
            document.getElementById("menuItems").style.display = "grid";
        } else {
            icon.setAttribute("src", "static/Hamburger.svg")
            document.getElementById("menuItems").setAttribute("style", "display:none;")
        }
    });

    // Set up the page
    isAdmin = "{{ isAdmin }}";
    document.cookie = "isAdmin={{ isAdmin }}";
    document.getElementsByName("username")[0].innerHTML = getCookie("username");
    if (isAdmin == "True") {
        document.getElementsByName("adminIndicator")[0].innerHTML = "Owner";
        document.getElementsByName("adminIndicator")[0].style = "display: inline-block; color: #A6CEE3;";
    }

        // Delete all cookies
        function deleteCookies() {
        var cookies = document.cookie.split(";");

        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var value = cookie.indexOf("=");
            var name = value > -1 ? cookie.substr(0, value) : cookie;
            // To delete it, make it so it's already expired
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }

    // Find all dataloggers belonging to the user
    //dataloggers = "{{ dataloggers }}".split(",");
    dataloggers = ["My logger", "Datalogger 2", "Datalogger 3"];
    // Add an element to the table for each of the dataloggers
    for (i=0;i<dataloggers.length;i++) {
        if (dataloggers[i] != "") {
            // Create the container to hold the datalogger name and remove button
            container = document.createElement("d");
            container.id = "tableItem";

            // Create the paragraph which holds the datalogger name
            deviceName = document.createElement("p");
            deviceName.innerHTML = dataloggers[i];
            deviceName.id = "itemName";

            // Create the button used to remove the datalogger
            button = document.createElement("button");
            button.innerHTML = "Remove";
            button.setAttribute("onclick", "removeDatalogger()");
            button.setAttribute("name", dataloggers[i]);
            button.id = "outlinedButton";

            // Append deviceName and button to the container
            container.appendChild(deviceName);
            container.appendChild(button);

            // Append the container to the table
            document.getElementById("table").appendChild(container);
        }
    }

    function removeDatalogger() {
        alert ("clicked")
    }

    function logout() {
        // Delete all cookies and load the / page. Since there are no cookies the sign in page will load
        deleteCookies();
        window.open("/", "_self");
    }
</script>
