<! DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/file.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/generatePlaceholderData.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/Favicon.svg">
    <title>Dashboard</title>
</head>
<body>
    
        <div class="banner">
            <div class="menu">
                <div class="selectedMenuItem" style="display: inline-block;">
                    Dashboard
                </div>   
                <p class="unselectedMenuItem" onclick="window.open('/advanced-settings', '_self')" style="display: inline-block;">Advanced Graph Settings</p>
                <p class="unselectedMenuItem" onclick="window.open('/configure-devices', '_self')" name="restrictedItem" style="display: inline-block; display:none;">Configure Devices</p>
                <p class="unselectedMenuItem" onclick="window.open('/manage-users', '_self')" name="restrictedItem" style="display: inline-block; display:none;">Manage Users</p>
                <p class="unselectedMenuItem" onclick="logout()" style="display:inline-block;">Log Out</p>
                <p class="unselectedMenuItem" style="display: inline-block;">✦</p>
                <p class="informationMenuItem" style="display: inline-block;"> {{ farmName }}</p>
                <p class="informationMenuItem" style="display: inline-block;" name="username"></p>
                <p class="informationMenuItem" style="display: inline-block;" name="adminIndicator">Worker</p>
            </div>

            <div class="hamburgerMenu">
                <img class="hamburgerIcon" style="width: 20px; height: 20px;" src="static/Hamburger.svg"></a>
                <div class="menuItems">
                    <div style="display:grid; padding-left: 15px;">
                        <p class="unselectedMenuItem" onclick="window.open('/advanced-settings', '_self')">Advanced Graph Settings</p>
                        <p class="unselectedMenuItem" onclick="window.open('/configure-devices', '_self')" name="restrictedItem" style="display:none;">Configure Devices</p>
                        <p class="unselectedMenuItem" onclick="window.open('/manage-users', '_self')" name="restrictedItem" style="display:none;">Manage Users</p>
                        <p class="unselectedMenuItem" onclick="logout()">Log Out</p>
                    </div>
                </div>
            </div>
        </div>

        <p class = "header">Welcome back,  <span class="firstName" style="color: #A6CEE3"></span></p>
        <p class="feedbackText"></p>

        <div class="graphsRow1">
            <div class="bigGraph">
                <canvas  class="lightLevels"></canvas>
            </div>

            <div class="bigGraph">
                <canvas class="humidity"></canvas>
            </div>
        </div>

        <div class="graphsRow2">
            <div class="smallGraph">
                <canvas  class="temperature"></canvas>
            </div>

            <div class="smallGraph">
                <canvas class="phLevel"></canvas>
            </div>

            <div class="smallGraph">
                <canvas class="soilMoisture"></canvas>
            </div>
        </div>

        <input type="date" class="dateSelector" value="2022-12-20" min="2022-12-17" style="display: inline-block;">
        <button class="button" onclick="changeDaySelected()" style="display: inline-block;">Change day Selected</button>
        <br>
            <select class="dataloggerSelector"></select>
    <button class="button" onclick="changeDaySelected()" style="display:inline-block;">Change Datalogger</button>
    
<div class="mainContentWrapper">  

</div>
<script>
    // When the user clicks the hamburger icon, change the icon and show the hamburger menu. When the user clicks it again, do the opposite
    icon = document.getElementsByClassName("hamburgerIcon")[0];
    icon.addEventListener("click", () => {
        if (icon.getAttribute("src") == "static/Hamburger.svg") {
	        icon.setAttribute("src", "static/close.svg");
            document.getElementsByClassName("menuItems")[0].style.display = "grid";
        } else {
            icon.setAttribute("src", "static/Hamburger.svg")
            document.getElementsByClassName("menuItems")[0].setAttribute("style", "display:none;")
        }
    });
    
    // Delete all cookies
    function deleteCookies() {
        var cookies = document.cookie.split(";");

        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var value = cookie.indexOf("=");
            var name = value > -1 ? cookie.substr(0, value) : cookie;
            // To delete it, make it so it's already expired
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }

    function logout() {
        // Delete all cookies and load the / page. Since there are no cookies the sign in page will load
        deleteCookies();
        window.open("/", "_self");
    }

    // Get the value of a cookie by it's name
    function getCookie(cookieName) {
        singleCookie = decodeURIComponent(document.cookie)
        singleCookie = singleCookie.toString();
        singleCookie = singleCookie.split(";");

        // Look at every cookie
        for (i=0;i<singleCookie.length;i++) {
            // If the cookie's name is right
            if (singleCookie[i].split("=")[0] == cookieName) {
                // Return the cookie's value
                return singleCookie[i].split("=")[1];
            }
        }    
    }

    function changeDaySelected() {
        day = document.getElementsByClassName("dateSelector")[0].value
        formattedDay = day.split("-")[2] + "/" + day.split("-")[1] + "/" + day.split("-")[0]
        datalogger = document.getElementsByClassName("dataloggerSelector")[0].value
        window.open("/getDay?day=" + formattedDay + "&datalogger=" + datalogger, "_self")
    }
    
    // Set up the page
    isAdmin = "{{ isAdmin }}";
    document.cookie = "isAdmin={{ isAdmin }}";
    document.getElementsByClassName("firstName")[0].innerHTML = "{{ firstName }}"
    document.getElementsByName("username")[0].innerHTML = getCookie("username");
    if (isAdmin == "True") {
        document.getElementsByName("adminIndicator")[0].innerHTML = "Owner";
        document.getElementsByName("adminIndicator")[0].style = "display: inline-block; color: #A6CEE3;";
    }

    // Fill the datalogger select element with values
    dataloggers = "{{ dataloggers }}";
    dataloggersArr = dataloggers.split(",");
    for (i=0;i<dataloggersArr.length;i++) {
            if (dataloggersArr[i] != "") {
            option = document.createElement("option");
            option.value = dataloggersArr[i];
            option.innerHTML = dataloggersArr[i];
            document.getElementsByClassName("dataloggerSelector")[0].appendChild(option);
        }
    }
    

    // Some pages are hidden by default. If the user is an admin, show them
    if (isAdmin == "True") {
        // Get all the items to hide
        itemsToHide = document.getElementsByName("restrictedItem");
        for (i=0;i<itemsToHide.length;i++) {
            // Change their visibility to hidden
            itemsToHide[i].style = "display: inline-block; visibility:visible;";
        }
    }

    // Set up a chart
    function drawChart(elementToDrawOn, labels, data, name, color1, color2) {
        // Set up the light level chart
        const ctx = elementToDrawOn;
        
        // Create gradient
        let gradient = ctx.getContext('2d').createLinearGradient(0, 0, 400, 0);
        gradient.addColorStop(0, color1);
        gradient.addColorStop(1, color2);

        new Chart(ctx, {
        type: 'line',
        data: {
        labels: labels,
        datasets: [{
            label: name,
            data: data,
            fill: false,
            borderColor: gradient,
            tension: 0.05
        }]
        },
        options:  {
            maintainAspectRatio:false
        }
        });
    }

    data = "{{ data }}";
    if (data != "") {
        labels = "{{ labels }}"
        dataArr = data.split("*");
        labelsArr = labels.split(",")

        // Turn data into seperate arrays of humidity, light levels, etc
        var lightLevels = dataArr[1].split(",");
        var humidity = dataArr[3].split(",");
        var temperature = dataArr[5].split(",");
        var phLevel = dataArr[7].split(",");
        var soilMoisture = dataArr[9].split(",");


        drawChart(document.getElementsByClassName("lightLevels")[0], labelsArr, lightLevels, "Light Levels", "#96F3CC", "#BEBBF7");
        drawChart(document.getElementsByClassName("humidity")[0], labelsArr, humidity, "Humidity", "#BEBBF7", "#4EA699");
        drawChart(document.getElementsByClassName("temperature")[0], labelsArr, temperature, "Temperature", "#7772B1", "#A6CEE3");
        drawChart(document.getElementsByClassName("phLevel")[0], labelsArr, phLevel, "PH Level", "#BEBBF7", "#A6CEE3");
        drawChart(document.getElementsByClassName("soilMoisture")[0], labelsArr, soilMoisture, "Soil Moisture", "#7772B1", "#A6CEE3");
    } else {
        // Hide the graph
        document.getElementsByClassName("graphsRow1")[0].style.display = "none";
        document.getElementsByClassName("graphsRow2")[0].style.display = "none";   
        document.getElementsByClassName("feedbackText")[0].innerHTML = "Sorry, no data was found for the selected day. Consider changing the day selected to view more data"
    }
</script>
</body>
</html>