<! DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/file.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/generatePlaceholderData.js"></script>
</head>
<body>
    
        <div id="banner">
            <div id="menu">
                <div id="selectedMenuItem" style="display: inline-block;">
                    Dashboard
                </div>   
                <p id="unselectedMenuItem" onclick="window.open('/advanced-settings', '_self')" style="display: inline-block;">Advanced Graph Settings</p>
                <p id="unselectedMenuItem" onclick="window.open('/configure-devices', '_self')" name="restrictedItem" style="display: inline-block; display:none;">Configure Devices</p>
                <p id="unselectedMenuItem" onclick="window.open('/manage-users', '_self')" name="restrictedItem" style="display: inline-block; display:none;">Manage Users</p>
                <p id="unselectedMenuItem" style="display: inline-block;">✦</p>
                <p id="informationMenuItem" style="display: inline-block;"> {{ farmName }}</p>
                <p id="informationMenuItem" style="display: inline-block;" name="username"></p>
                <p id="informationMenuItem" style="display: inline-block;" name="adminIndicator">Worker</p>
            </div>

            <div id="hamburgerMenu">
                <img id="hamburgerIcon" style="width: 20px; height: 20px;" src="static/Hamburger.svg"></a>
                <div id="menuItems">
                    <div style="display:grid; padding-left: 15px;">
                        <p id="unselectedMenuItem" onclick="window.open('/advanced-settings', '_self')">Advanced Graph Settings</p>
                        <p id="unselectedMenuItem" onclick="window.open('/configure-devices', '_self')" name="restrictedItem" style="display:none;">Configure Devices</p>
                        <p id="unselectedMenuItem" onclick="window.open('/manage-users', '_self')" name="restrictedItem" style="display:none;">Manage Users</p>
                    </div>
                </div>
            </div>
        </div>

        <p id = "header">Welcome back,  <span id="firstName" style="color: #A6CEE3"></span></p>
        <p id="feedbackText"></p>

        <div id="graphsRow1">
            <div id="bigGraph">
                <canvas  id="lightLevels"></canvas>
            </div>

            <div id="bigGraph">
                <canvas id="humidity"></canvas>
            </div>
        </div>

        <div id="graphsRow2">
            <div id="smallGraph">
                <canvas  id="temperature"></canvas>
            </div>

            <div id="smallGraph">
                <canvas id="phLevel"></canvas>
            </div>

            <div id="smallGraph">
                <canvas id="soilMoisture"></canvas>
            </div>
        </div>

        <input type="date" id="dateSelector" value="2022-12-20" min="2022-12-17" style="display: inline-block;">
        <button id="button" onclick="changeDaySelected()" style="display: inline-block;">Change day Selected</button>
        <br>
            <select id="dataloggerSelector"></select>
    <button id="button" onclick="changeDaySelected()" style="display:inline-block;">Change Datalogger</button>
    
<div id="mainContentWrapper">  

</div>
<script>
    icon = document.getElementById("hamburgerIcon");
    icon.addEventListener("click", () => {
        if (icon.getAttribute("src") == "static/Hamburger.svg") {
	        icon.setAttribute("src", "static/close.svg");
            document.getElementById("menuItems").style.display = "grid";
        } else {
            icon.setAttribute("src", "static/Hamburger.svg")
            document.getElementById("menuItems").setAttribute("style", "display:none;")
        }
    });
    


    // Get the value of a cookie by it's name
    function getCookie(cookieName) {
        singleCookie = decodeURIComponent(document.cookie)
        singleCookie = singleCookie.toString();
        singleCookie = singleCookie.split(";");

        // Look at every cookie
        for (i=0;i<singleCookie.length;i++) {
            // If the cookie's name is right
            if (singleCookie[i].split("=")[0] == cookieName) {
                // Return the cookie's value
                return singleCookie[i].split("=")[1];
            }
        }    
    }

    function changeDaySelected() {
        day = document.getElementById("dateSelector").value
        formattedDay = day.split("-")[2] + "/" + day.split("-")[1] + "/" + day.split("-")[0]
        datalogger = document.getElementById("dataloggerSelector").value
        window.open("/getDay?day=" + formattedDay + "&datalogger=" + datalogger, "_self")
    }
    
    // Set up the page
    isAdmin = "{{ isAdmin }}";
    document.cookie = "isAdmin={{ isAdmin }}";
    document.getElementById("firstName").innerHTML = "{{ firstName }}"
    document.getElementsByName("username")[0].innerHTML = getCookie(" username");
    if (isAdmin == "True") {
        document.getElementsByName("adminIndicator")[0].innerHTML = "Owner";
        document.getElementsByName("adminIndicator")[0].style = "display: inline-block; color: #A6CEE3;";
    }

    // Fill the datalogger select element with values
    dataloggers = "{{ dataloggers }}";
    dataloggersArr = dataloggers.split(",");
    for (i=0;i<dataloggersArr.length;i++) {
            if (dataloggersArr[i] != "") {
            option = document.createElement("option");
            option.value = dataloggersArr[i];
            option.innerHTML = dataloggersArr[i];
            document.getElementById("dataloggerSelector").appendChild(option);
        }
    }
    

    // Some pages are hidden by default. If the user is an admin, show them
    if (isAdmin == "True") {
        // Get all the items to hide
        itemsToHide = document.getElementsByName("restrictedItem");
        for (i=0;i<itemsToHide.length;i++) {
            // Change their visibility to hidden
            itemsToHide[i].style = "display: inline-block; visibility:visible;";
        }
    }

    // Set up a chart
    function drawChart(elementToDrawOn, labels, data, name, color1, color2) {
        // Set up the light level chart
        const ctx = elementToDrawOn;
        
        // Create gradient
        let gradient = ctx.getContext('2d').createLinearGradient(0, 0, 400, 0);
        gradient.addColorStop(0, color1);
        gradient.addColorStop(1, color2);

        new Chart(ctx, {
        type: 'line',
        data: {
        labels: labels,
        datasets: [{
            label: name,
            data: data,
            fill: false,
            borderColor: gradient,
            tension: 0.05
        }]
        }
        });
    }

    data = "{{ data }}";
    if (data != "") {
        labels = "{{ labels }}"
        dataArr = data.split("*");
        labelsArr = labels.split(",")

        // Turn data into seperate arrays of humidity, light levels, etc
        var lightLevels = dataArr[1].split(",");
        var humidity = dataArr[3].split(",");
        var temperature = dataArr[5].split(",");
        var phLevel = dataArr[7].split(",");
        var soilMoisture = dataArr[9].split(",");


        drawChart(document.getElementById("lightLevels"), labelsArr, lightLevels, "Light Levels", "#96F3CC", "#BEBBF7");
        drawChart(document.getElementById("humidity"), labelsArr, humidity, "Humidity", "#BEBBF7", "#4EA699");
        drawChart(document.getElementById("temperature"), labelsArr, temperature, "Temperature", "#7772B1", "#A6CEE3");
        drawChart(document.getElementById("phLevel"), labelsArr, phLevel, "PH Level", "#BEBBF7", "#A6CEE3");
        drawChart(document.getElementById("soilMoisture"), labelsArr, soilMoisture, "Soil Moisture", "#7772B1", "#A6CEE3");
    } else {
        // Hide the graph
        document.getElementById("graphsRow1").style.display = "none";
        document.getElementById("graphsRow2").style.display = "none";   
        document.getElementById("feedbackText").innerHTML = "Sorry, no data was found for the selected day. Consider changing the day selected to view more data"
    }
</script>
</body>
</html>