<! DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/file.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/img/Favicon.svg">
    <title>Configure Devices</title>
</head>
<body>
    
        <div id="banner">
            <div id="menu">
                    <p id="unselectedMenuItem" onclick="window.open('/', '_self')" style="display: inline-block;">Dashboard</p>
                    <p id="unselectedMenuItem" onclick="window.open('/configure-devices', '_self')" name="restrictedItem" style="display: inline-block;">Advanced Settings</p>
                    <p id="unselectedMenuItem" onclick="logout()" style="display:inline-block;">Log Out</p>
            </div>


                <div id="hamburgerMenu">
                    <img id="hamburgerIcon" style="width: 20px; height: 20px;" src="static/img/Hamburger.svg"></a>
                    <div id="menuItems">
                        <div style="display:grid; padding-left: 15px;">
                            <p id="unselectedMenuItem" onclick="window.open('/', '_self')">Dashboard</p>
                            <p id="unselectedMenuItem" onclick="window.open('/configure-devices', '_self')" name="restrictedItem">Advanced Settings</p>
                            <p id="unselectedMenuItem" onclick="logout()">Log Out</p>
                        </div>
                    </div>
                </div>
        </div>
    
<div id="mainContentWrapper">  
    <div>
        <img id="image" style="height: 50vh; width: min-content;" src="static/img/internal-server-error-500.png">
    </div>

    <div>
        <p id="header">Permissions Error</p>
        <p id="normalText">Sorry, you need to be an admin to access this page. Do you want to go <a id="normalText" href="/">back</a>?</p>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/sharedFunctions.js"></script>
<script>
    // Set up the functionality for the hamburger menu
    hamburgerMenu();
</script>
