<! DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/file.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/img/Favicon.svg">
    <title>Configure Devices</title>
</head>
<body>
    
        <div id="banner">
            <div id="menu">
                    <p id="unselectedMenuItem" onclick="window.open('/', '_self')" style="display: inline-block;">Dashboard</p>
                    <p id="unselectedMenuItem" onclick="window.open('/configure-devices', '_self')" name="restrictedItem" style="display: inline-block;">Advanced Settings</p>
                    <p id="unselectedMenuItem" onclick="logout()" style="display:inline-block;">Log Out</p>
            </div>


                <div id="hamburgerMenu">
                    <img id="hamburgerIcon" style="width: 20px; height: 20px;" src="static/img/Hamburger.svg"></a>
                    <div id="menuItems">
                        <div style="display:grid; padding-left: 15px;">
                            <p id="unselectedMenuItem" onclick="window.open('/', '_self')">Dashboard</p>
                            <p id="unselectedMenuItem" onclick="window.open('/configure-devices', '_self')" name="restrictedItem">Advanced Settings</p>
                            <p id="unselectedMenuItem" onclick="logout()">Log Out</p>
                        </div>
                    </div>
                </div>
        </div>
    
<div id="mainContentWrapper">  
    <div>
        <img id="image" style="height: 50vh; width: min-content;" src="static/img/internal-server-error-500.png">
    </div>

    <div>
        <p id="header">Permissions Error</p>
        <p id="normalText">Sorry, you need to be an admin to access this page. Do you want to go <a id="normalText" href="/">back</a>?</p>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Set up the functionality for the hamburger menu
        // Get the icon for the hamburger menu
        icon = document.getElementById("hamburgerIcon");

        // When the icon is clicked
        icon.addEventListener("click", () => {
            // Switch the image that it displays to the image
            // Either "Hamburger.svg" or "close.svg" is shown
            if (icon.getAttribute("src") == "static/img/Hamburger.svg") {
                icon.setAttribute("src", "static/img/close.svg");
                document.getElementById("menuItems").style.display = "grid";
            } else {
                icon.setAttribute("src", "static/img/Hamburger.svg")
                document.getElementById("menuItems").setAttribute("style", "display:none;")
            }
        });

    // Logout the user
function logout() {
    // Delete all cookies and load the / page. Since there are no cookies the sign in page will load
    deleteCookies();
    window.open("/", "_self");
}

// Delete all cookies
function deleteCookies() {
    // Get all the cookies
    var cookies = document.cookie.split(";");

    // For every cookie, edit it to make it expire
    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        var value = cookie.indexOf("=");
        var name = value > -1 ? cookie.substr(0, value) : cookie;
        // To delete it, make it so it's already expired
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
    }
}
</script>
<script src="/static/sharedFunctions.js"></script>