<! DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/file.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/generatePlaceholderData.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/Favicon.svg">
    <title>Configure Devices</title>
</head>
<body>
    
        <div id="banner">
            <div id="menu">
                    <p id="unselectedMenuItem" onclick="window.open('/', '_self')" style="display: inline-block;">Dashboard</p>
                    <p id="unselectedMenuItem" onclick="window.open('/configure-devices', '_self')" name="restrictedItem" style="display: inline-block;">Advanced Settings</p>
                    <p id="unselectedMenuItem" onclick="logout()" style="display:inline-block;">Log Out</p>
            </div>


                <div id="hamburgerMenu">
                    <img id="hamburgerIcon" style="width: 20px; height: 20px;" src="static/img/Hamburger.svg"></a>
                    <div id="menuItems">
                        <div style="display:grid; padding-left: 15px;">
                            <p id="unselectedMenuItem" onclick="window.open('/', '_self')">Dashboard</p>
                            <p id="unselectedMenuItem" onclick="window.open('/configure-devices', '_self')" name="restrictedItem">Advanced Settings</p>
                            <p id="unselectedMenuItem" onclick="logout()">Log Out</p>
                        </div>
                    </div>
                </div>
        </div>
    
<div id="mainContentWrapper">  
    <div>
        <img id="image" style="height: 50vh; width: min-content;" src="static/img/internal-server-error-500.png">
    </div>

    <div>
        <p id="header">Permissions Error</p>
        <p id="normalText">Sorry, you need to be an admin to access this page. Do you want to go <a id="normalText" href="/">back</a>?</p>
    </div>
</div>
</body>
<script>
    // When the user clicks the hamburger icon, change the icon and show the hamburger menu. When the user clicks it again, do the opposite
    icon = document.getElementById("hamburgerIcon");
    icon.addEventListener("click", () => {
        if (icon.getAttribute("src") == "static/Hamburger.svg") {
	        icon.setAttribute("src", "static/close.svg");
            document.getElementById("menuItems").style.display = "grid";
        } else {
            icon.setAttribute("src", "static/Hamburger.svg")
            document.getElementById("menuItems").setAttribute("style", "display:none;")
        }
    });

        // Delete all cookies
        function deleteCookies() {
        var cookies = document.cookie.split(";");

        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var value = cookie.indexOf("=");
            var name = value > -1 ? cookie.substr(0, value) : cookie;
            // To delete it, make it so it's already expired
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }
    
    function logout() {
        // Delete all cookies and load the / page. Since there are no cookies the sign in page will load
        deleteCookies();
        window.open("/", "_self");
    }
</script>
