<! DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/file.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src ="/static/generatePassword.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/Favicon.svg">
    <title>Sign Up</title>
</head>
<body>
    
        <div id="banner">
        </div>
    
<div id="mainContentWrapper">
    <div>
        <img id="image" src="static/signUpImage.png">
    </div>
    
    <div>
        <div>
            <p class = "header">Sign Up to Create an Account</p>
            <p style="white-space: pre;" class = "normalText">This page lets you sign up to the website. Want to <a class="normalText" href="/">sign in</a> instead?</p>
            <p class = "subheader"> Your Details </p>

            <form action="{{ url_for("signUp")}}" method="post"> 
                <p style="display: inline-block;" class = "normalText">First Name</p>
                <input style="display: inline-block;" placeholder="Write here" name="firstName" class = "inputBoxText"></input>
                <p name="feedbackText" style="display: inline-block;" class="feedbackText">{{ firstNameFeedbackText }}</p>
                <br>
                
                <p style="display: inline-block;" class = "normalText">Last Name</p>
                <input style="display: inline-block;" placeholder="Write here" name="lastName" class = "inputBoxText"></input>
                <p style="display: inline-block;" name="feedbackText" class="feedbackText">{{ lastNameFeedbackText }}</p>
                <br>
                
                <p style="display: inline-block;" class = "normalText">Username</p>
                <input style="display: inline-block;" placeholder="Write here" name="username" class = "inputBoxText"></input>
                <p style="display: inline-block;" name="feedbackText" class="feedbackText">{{ usernameFeedbackText }}</p>
                <br>
                
                <p style="display: inline-block;"  class = "normalText">Password</p>
                <input style="display: inline-block;" placeholder="********" class="password" name="password" class = "passwordInputBox"></input>
                <p style="display: inline-block;" name="feedbackText" class="feedbackText">{{ passwordFeedbackText }}</p>
                <br>

                <p style="display: inline-block;"  class = "normalText">Password Confirmation</p>
                <input style="display: inline-block;" placeholder="********" name="passwordConfirmation" class = "passwordConfirmationInputBox"></input>
                <button type="button" onclick="var password = generatePassword(); document.getElementsByClassName('passwordInputBox')[0].value = password; document.getElementsByClassName('passwordConfirmationInputBox')[0].value = password;" class="button">Generate a Password</button>
                <br>

                <p class = "subheader"> Your Farm Details </p>
                <p style="display: inline-block;" class = "normalText">Farm Name</p>
                <input style="display: inline-block;" placeholder="Write here" name="farmName" class = "inputBoxText"></input>
                <p style="display: inline-block;" name="feedbackText" class="feedbackText">{{ farmNameFeedbackText }}</p>                

                <br>
                <button type="submit" class="button">Sign Up</button>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    
    document.getElementsByClassName("inputBoxText")[0].addEventListener("click", () => {
        elements = document.getElementsByClassName('passwordInputBox')
        alert(elements[0])
    });
</script>