<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/file.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
    
        <div id="banner">
            <div>
                <p id="unselectedMenuItem" style="display: inline-block;">Dashboard</p>
                <p id="unselectedMenuItem" style="display: inline-block;">Advanced Graph Settings</p>
            </div>
        </div>
    
<div id="mainContentWrapper">
    <div>
        <img src="static/signInImage.png">
    </div>
    
    <div>
        <div>
            <p id = "header">Sign In to Your Account</p>
            <p id = "normalText">This page lets you sign in to your account. Want to <a id="normalText" href="/signUp">sign up</a> instead?</p>
            <p id = "subheader"> Your Details </p>

            <form action="{{ url_for("dashboard")}}" method="post"> 
                <p style="display: inline-block;" id = "normalText">Username</p>
                <input placeholder="Write here" name="username" id = "inputBoxText"></input>
    
                <br>
                
                <p style="display: inline-block;"  id = "normalText">Password</p>
                <input placeholder="********" name="password" id = "inputBoxText"></input>
                <p name="feedbackText" id="feedbackText">{{ passwordFeedbackText }}</p>
                
                <br> 
                
                <button type="submit" id="button">Sign In</button>
            </form>
        </div>
    </div>
</div>

</body>